<li class="list-group-item d-flex justify-content-between align-items-center">
  <input type="text"
         class="w-100 me-2" value="{{this.task?.description}}"
         [disabled]="isInputDisabled"
         (keydown.enter)="changeDescription($event)">
  <div class="btn-group" role="group" aria-label="Basic example">
    <input type="checkbox" class="me-3" [checked]=task?.isCompleted (change)="toggleTodo()">
    @if (!task?.isCompleted) {
      <button type="button" class="me-1 btn btn-outline-info" (click)="editEntry()">Edit</button>
    }
  </div>
</li>
